name: tfsec
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  tfsec:
    name: tfsec
    runs-on: ubuntu-latest

    steps:
      - name: Clone repo
        uses: actions/checkout@master
      - name: tfsec
        id: run_sectest
        uses: aquasecurity/tfsec-action@v1.0.0
        with:
          soft_fail: true
          format: json
        env:
          ACTIONS_STEP_DEBUG: 'true'
      - name: output
        run: echo '${{ steps.run_sectest.outputs.json | fromJSON | .results }}'
        shell: bash
