name: tfsec
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  tfsec:
    name: tfsec
    runs-on: ubuntu-latest

    steps:
      - name: Clone repo
        uses: actions/checkout@v2
      - name: tfsec
        id: run_sectest
        uses: aquasecurity/tfsec-action@v1.0.0
        with:
          soft_fail: true
          format: json
      - name: output
        run: echo "${{ fromJSON(steps.run_sectest.outputs.tfsec_output) }}"
