name: tfsec
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  tfsec:
    name: tfsec
    runs-on: ubuntu-latest

    steps:
      - name: Clone repo
        uses: actions/checkout@master
      - name: tfsec
        id: run_sectest
        uses: aquasecurity/tfsec-action@v1.0.0
        with:
          soft_fail: true
          format: json
          additional_args: --out results.json
        env:
          ACTIONS_STEP_DEBUG: true
      - name: output
        run: cat results.json
      - name: parse output
        run: jq -r '.results[] | "The issue *\(.rule_description)* was detected in the file *\(.location.filename)*"' results.json


