name: tfsec
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  tfsec:
    name: tfsec
    runs-on: ubuntu-latest

    steps:
      - name: Clone repo
        uses: actions/checkout@master

      - name: tfsec
        id: run_sectest
        uses: aquasecurity/tfsec-action@v1.0.0
        with:
          soft_fail: true
          format: json
          additional_args: --out results.json
        env:
          ACTIONS_STEP_DEBUG: true

      - name: output
        run: cat results.json

      - name: parse output
        id: parse_output
        run: |
          PARSE_OUTPUT=""
          while read -r line; do
            PARSE_OUTPUT="${PARSE_OUTPUT}${line}\n"
          done < <(jq -r '.results[] | "The issue **\(.rule_description)** was detected in the file **\(.location.filename)** between the lines \(.location.start_line) and \(.location.end_line)."' results.json)
          echo "::set-output name=parse_output::${PARSE_OUTPUT}"

      - name: Comment PR
        uses: actions/github-script@v4
        if: always()
        with:
          script: |
            const parse_output = '${{ steps.parse_output.outputs.parse_output }}'
            github.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: `The following issues were detected:\n\n${parse_output}`
            })
          token: ${{ secrets.GITHUB_TOKEN }}
